code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/********** Template CSS **********/
:root {
  /* --primary: #F77D0A; */
  --primary: #312b26;
  --secondary: #2b2e4a;
  --light: #f4f5f8;
  --dark: #1c1e32;
  --lightdark: #232627;
}

h1,
h2,
.font-weight-bold {
  font-weight: 700 !important;
}

h3,
h4,
.font-weight-semi-bold {
  font-weight: 600 !important;
}

h5,
h6,
.font-weight-medium {
  font-weight: 500 !important;
}

.btn-square {
  width: 36px;
  height: 36px;
}

.btn-sm-square {
  width: 28px;
  height: 28px;
}

.btn-lg-square {
  width: 46px;
  height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 30px;
  bottom: 30px;
  z-index: 99;
}

.nav-bar::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  background: var(--dark);
}

.nav-bar::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  background: #ffffff;
}

.navbar-dark .navbar-nav .nav-link {
  padding: 30px 15px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--light);
  outline: none;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  color: var(--primary);
  border-bottom: 5px solid #f77d0a;
}

@media (max-width: 991.98px) {
  .navbar-dark .navbar-nav .nav-link {
    padding: 10px 15px;
  }
}

.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* width: 100%;
  margin-left: -305px; */
  background: rgba(28, 30, 50, 0);
  z-index: 1;
}

@media (max-width: 576px) {
  .carousel-caption h4 {
    font-size: 18px;
    font-weight: 500 !important;
  }

  .carousel-caption h1 {
    font-size: 30px;
    font-weight: 600 !important;
  }
}

.page-header {
  height: 400px;
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(28, 30, 50, 0.9), rgba(28, 30, 50, 0.9)), url(img/bg-banner.jpg);
  background-attachment: fixed;
}

@media (max-width: 991.98px) {
  .page-header {
    height: 300px;
  }
}

.service-item {
  height: 320px;
  background: var(--light);
  transition: 0.5s;
}

.service-item:hover,
.service-item.active {
  background: var(--secondary);
}

.service-item h1,
.service-item h4 {
  transition: 0.5s;
}

.service-item:hover h1,
.service-item.active h1 {
  color: var(--primary) !important;
}

.service-item:hover h4,
.service-item.active h4 {
  color: var(--primary);
}

.rent-item {
  padding: 30px;
  text-align: center;
  /* Find Car Color Changes Here */
  background: var(--lightdark);
  transition: 0.5s;
}

.rent-item:hover,
.rent-item.active {
  background: var(--secondary);
}

.rent-item h4 {
  transition: 0.5s;
}

.rent-item:hover h4,
.rent-item.active h4 {
  color: var(--primary);
}

.team-item {
  padding: 30px 30px 0 30px;
  text-align: center;
  background: var(--light);
  transition: 0.5s;
}

.team-item:hover,
.owl-item.center .team-item {
  background: var(--secondary);
}

.team-item h4 {
  transition: 0.5s;
}

.owl-item.center .team-item h4,
.owl-item.center .rent-item h4 {
  color: var(--light);
}

.team-item .team-social {
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
  background: var(--light);
}

.owl-item.center .team-item .team-social,
.owl-item.center .rent-item {
  background: var(--secondary);
}

.team-item:hover .team-social {
  opacity: 1;
  background: var(--secondary);
}

.team-carousel .owl-nav,
.related-carousel .owl-nav {
  position: absolute;
  width: 100%;
  height: 60px;
  top: calc(50% - 30px);
  left: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.team-carousel .owl-nav .owl-prev,
.team-carousel .owl-nav .owl-next,
.related-carousel .owl-nav .owl-prev,
.related-carousel .owl-nav .owl-next {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: var(--primary);
  font-size: 22px;
  transition: 0.5s;
}

.team-carousel .owl-nav .owl-prev:hover,
.team-carousel .owl-nav .owl-next:hover,
.related-carousel .owl-nav .owl-prev:hover,
.related-carousel .owl-nav .owl-next:hover {
  background: var(--secondary);
}

.vendor-carousel .owl-dots,
.testimonial-carousel .owl-dots {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vendor-carousel .owl-dot,
.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 20px;
  height: 20px;
  background: var(--secondary);
  transition: 0.5s;
}

.vendor-carousel .owl-dot.active,
.testimonial-carousel .owl-dot.active {
  width: 40px;
  height: 40px;
  background: var(--primary);
}

.testimonial-carousel .owl-item img {
  width: 80px;
  height: 80px;
}

.testimonial-carousel .owl-item .testimonial-item {
  height: 350px;
  transition: 0.5s;
  background: var(--light);
}

.testimonial-carousel .owl-item.center .testimonial-item {
  background: var(--secondary);
}

.testimonial-carousel .owl-item .testimonial-item h1,
.testimonial-carousel .owl-item .testimonial-item h4 {
  transition: 0.5s;
}

.testimonial-carousel .owl-item.center .testimonial-item h1 {
  color: var(--dark) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item h4 {
  color: var(--light);
}

.bg-banner {
  background: linear-gradient(rgba(28, 30, 50, 0.9), rgba(28, 30, 50, 0.9)), url(img/bg-banner.jpg);
  background-attachment: fixed;
}

.signin-form-container {
  width: 40%;
  margin: auto;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(img/bg-banner.jpg);
  background-attachment: fixed;

  padding: 30px;
  border-radius: 10px;
}

@media (max-width: 991.98px) {
  .signin-form-container {
    width: 70%;
  }
}

.signup-form-container {
  width: 60%;
  /* margin: auto; */
  margin-bottom: 100px;
  /* background-color: #2b2e4a; */
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(img/bg-banner.jpg);
  background-attachment: fixed;
  padding: 30px;
  border-radius: 10px;
}

@media (max-width: 700px) {
  .signup-form-container {
    width: 100%;
    /* margin: auto; */
    margin-bottom: 100px;
    /* background-color: #2b2e4a; */
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
      url(img/bg-banner.jpg);
    background-attachment: fixed;
    padding: 30px;
    border-radius: 10px;
  }
}

#password-lbl-error {
  color: red;
  visibility: hidden;
  position: absolute;
}

#confirmation {
  color: rgb(44, 255, 44);
  visibility: hidden;
}

.login-inps {
  width: 80%;
  margin: auto;
  border-radius: 5px;
}

.login-btn {
  border-radius: 5px;
}
.btn-container {
  width: 80%;
  text-align: center;
  justify-content: space-around;
  margin: auto;
}

.accout-link {
  color: white;
}

.team-img {
  height: 400px;
}

.car-listings {
  width: 100%;
  height: 200px;
}
.featured {
  background-color: rgb(197, 197, 197);
}
.location {
  margin-left: -15px;
}

.sub-form-heading {
  color: white;
  font-size: 22px;
}

.link-listings {
  color: #f77d0a;
}

.navbar-container {
  height: 400px;
}

.navbar-front {
  z-index: 9;
}

#errorApi {
  display: block;
  padding: 20px;
  background-color: crimson;
  border-radius: 5px;
  position: absolute;
  visibility: hidden;
}
#errorApi-credit {
  display: block;
  padding: 20px;
  background-color: crimson;
  border-radius: 5px;
  position: absolute;
  visibility: hidden;
}

#successApi {
  display: block;
  padding: 20px;
  background-color: rgb(51, 120, 50);
  border-radius: 5px;
  position: absolute;
  visibility: hidden;
}

input,
select {
  opacity: 0.8;
}

input:focus,
select:focus {
  opacity: 1;
}

.imagesLabelS {
  margin-left: 30px;
}

.imagesLabelS2 {
  margin-left: 10px;
  display: grid;
}

@media (max-width: 790px) {
  .imagesLabelS2 {
    margin-left: 30px;
    display: grid;
  }
}

.inpp {
  visibility: hidden;
  position: absolute;
}

#selected-images {
  display: flex;
  justify-content: space-around;
  width: 95%;
  flex-wrap: wrap;
}

@media (max-width: 640px) {
  .imagesGrid {
    display: grid;
    justify-content: space-around;
  }
}

#img {
  margin-left: 10px;
  margin-top: 10px;
}

.car-container-main {
  cursor: pointer;
}

.crud-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.edit-close {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img-card {
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  border-radius: 5px;
  background-color: #1c1e32bc;
}

@media (max-width: 600px) {
  .img-card {
    width: 150%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    border-radius: 5px;
    background-color: #1c1e32bc;
  }
}

.edit-del-btn {
  float: right;
}

.dropdown .dropbtn {
  font-size: 17px;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  line-height: 40px;
  position: fixed;
  background-color: #1c1e32;
  min-width: 14.5vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
  margin-top: 13px;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
  background-color: #f77d0a;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {
    float: none;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

/* 
/* ----- Overview ----- */

@media (max-width: 767px) {
  .overview-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .overview-wrap .button {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .overview-wrap h2 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}

.overview-item {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 30px;
  padding-bottom: 0;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

@media (min-width: 992px) and (max-width: 1519px) {
  .overview-item {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.overview-item--c1 {
  background-image: linear-gradient(90deg, #3f5efb 0%, #fc466b 100%);
  padding-bottom: 50px;
  transition: 0.5s;
}

.overview-item--c1:hover {
  transform: scale(1.1);
}

.overview-item--c2:hover {
  transform: scale(1.1);
}

.overview-item--c3:hover {
  transform: scale(1.1);
}

.overview-item--c4:hover {
  transform: scale(1.1);
}

.overview-item--c2 {
  background-image: linear-gradient(90deg, #11998e 0%, #38ef7d 100%);
  padding-bottom: 50px;
  transition: 0.5s;
}

.overview-item--c3 {
  background-image: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
  padding-bottom: 50px;
  transition: 0.5s;
}

.overview-item--c4 {
  background-image: linear-gradient(90deg, #45b649 0%, #dce35b 100%);
  padding-bottom: 50px;
  transition: 0.5s;
}

.overview-box .icon {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .overview-box .icon {
    margin-right: 3px;
  }

  .overview-box .icon i {
    font-size: 30px;
  }
}

@media (max-width: 991px) {
  .overview-box .icon {
    font-size: 46px;
  }
}

.overview-box .text {
  font-weight: 300;
  display: inline-block;
}

.overview-box .text h2 {
  font-weight: 300;
  color: #fff;
  font-size: 30px;
  line-height: 1;
  margin-bottom: 5px;
}

.overview-box .text span {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6);
}

@media (min-width: 992px) and (max-width: 1199px) {
  .overview-box .text {
    display: inline-block;
  }

  .overview-box .text h2 {
    font-size: 20px;
    margin-bottom: 0;
  }

  .overview-box .text span {
    font-size: 14px;
  }
}

@media (max-width: 991px) {
  .overview-box .text h2 {
    font-size: 26px;
  }

  .overview-box .text span {
    font-size: 15px;
  }
}

.overview-chart {
  height: 115px;
  position: relative;
}

.overview-chart canvas {
  width: 100%;
}

.text {
  font-weight: 300;
  display: inline-block;
  text-align: center;
}

.stats-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 20px;
  padding: 50px;
  background-color: #1c1e32;
  border-radius: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.wallet-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 20px;
  padding: 50px;
  background-color: #1c1e32;
  border-radius: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.stats-containerTwo {
  width: 100%;
  justify-content: space-between;
  margin-right: 5px;
  margin-left: 5px;
  padding: 50px;
  background-color: #272927;
  border-radius: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
}


.stats-section {
  padding: 50px;
}

/* table start */

.table {
  margin: 0;
}

.table-responsive.table--no-card {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  width: 95%;
  margin: auto;
}

@media screen and (max-width: 1000px) {
  .table-responsive.table--no-card {
    
    width: 100%;
  }
}
.table-responsive.table--no-card{
  width: 97.8%;
}

.table-earning thead th {
  background: #333;
  font-size: 16px;
  color: #fff;
  vertical-align: middle;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1;
  padding: 22px 40px;
  white-space: nowrap;
}

.table-earning thead th.text-right {
  padding-left: 15px;
  padding-right: 65px;
}

.table-earning tbody td {
  color: #ffffff;
  padding: 12px 40px;
  white-space: nowrap;
}

.table-earning tbody td.text-right {
  padding-left: 15px;
  padding-right: 65px;
}

.table-earning tbody tr:hover td {
  color: #555;
  cursor: pointer;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #1c1e32;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: #1c1e32;
}

.table-top-countries tbody td {
  white-space: nowrap;
  font-size: 14px;
  color: #fff;
  padding: 14px 5px;
  border-top: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.table-top-countries tbody tr:last-child td {
  border-bottom: none;
}

.table-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (min-width: 992px) and (max-width: 1519px) {
  .table-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 991px) {
  .table-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.table-style1 {
  max-width: 280px;
  margin-bottom: 30px;
}

.table-style1 .table tr:last-child td {
  border-bottom: none;
}

.table-style1 .table tr td:last-child {
  padding-right: 30px;
}

.table-style1 .table td {
  font-size: 14px;
  color: #808080;
  border-top: none;
  border-bottom: 1px solid #f2f2f2;
  padding: 12px 6px;
  vertical-align: middle;
}

.table-data {
  height: 472px;
  overflow-y: auto;
}

.table-data thead tr td {
  font-size: 12px;
  font-weight: 600;
  color: #808080;
  text-transform: uppercase;
}

.table-data .table td {
  border-top: none;
  border-bottom: 1px solid #f2f2f2;
  padding-top: 23px;
  padding-bottom: 33px;
  padding-left: 40px;
  padding-right: 10px;
}

.table-data .table tr td:last-child {
  padding-right: 24px;
}

.table-data tbody tr:hover td .more {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.table-data__info h6 {
  font-size: 14px;
  color: #808080;
  text-transform: capitalize;
  font-weight: 400;
}

.table-data__info span a {
  font-size: 12px;
  color: #999;
}

.table-data__info span a:hover {
  color: #666;
}

.more {
  display: inline-block;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: #e5e5e5;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

.more i {
  font-size: 20px;
  color: #808080;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.role {
  display: inline-block;
  line-height: 30px;
  font-size: 14px;
  color: #fff;
  padding: 0 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: capitalize;
}

.role.admin {
  background: #fa4251;
}

.role.user {
  background: #00b5e9;
}

.role.member {
  background: #57b846;
}

.table-top-campaign.table td {
  border-top: none;
  border-bottom: 1px solid #e5e5e5;
  font-size: 14px;
  padding: 12px 6px;
}

.table-top-campaign.table tr td:first-child {
  color: #808080;
}

.table-top-campaign.table tr td:last-child {
  color: #4272d7;
  text-align: right;
}

.table-top-campaign.table tr:last-child td {
  border-bottom: none;
}

@media (min-width: 1200px) {
  .table-responsive-data2 {
    overflow: visible;
  }
}

.table-data2 {
  border-collapse: collapse;
  overflow: visible;
}

.table-data2.table thead th {
  font-size: 12px;
  color: #555;
  text-transform: uppercase;
  border: none;
  font-weight: 600;
  vertical-align: top;
  padding: 15px 40px;
  padding-right: 10px;
}

.table-data2.table thead th:first-child {
  padding-right: 0;
}

.table-data2.table tbody {
  background: #fff;
}

.table-data2.table tbody tr td:first-child {
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
  vertical-align: top;
}

.table-data2.table tbody tr td:first-child .au-checkbox {
  margin-top: 5px;
}

@media (max-width: 1199px) {
  .table-data2.table tbody tr td:first-child {
    vertical-align: middle;
  }

  .table-data2.table tbody tr td:first-child .au-checkbox {
    margin-top: 0;
  }
}

.table-data2.table tbody tr td:last-child {
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px;
  padding-right: 35px;
}

.table-data2.table tbody td {
  font-size: 14px;
  color: #808080;
  vertical-align: middle;
  padding: 25px 40px;
  padding-right: 10px;
  border: none;
}

.table-data2.table tbody td.desc {
  color: #4272d7;
}

.table-data2 .spacer {
  height: 5px;
  background: transparent;
}

.tr-shadow {
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
}

.table-data__tool {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 28px;
}

.table-data__tool .table-data__tool-left > div {
  margin-right: 12px;
}

.table-data__tool .table-data__tool-right > button {
  margin-right: 12px;
}

@media (max-width: 991px) {
  .table-data__tool {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .table-data__tool .table-data__tool-right {
    margin-top: 10px;
  }

  .table-data__tool .table-data__tool-right > button {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.table-data-feature {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.table-data-feature .item {
  display: block;
  height: 30px;
  width: 30px;
  position: relative;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background: #e5e5e5;
  margin-right: 5px;
}

.table-data-feature .item:last-child {
  margin-right: 0;
}

.table-data-feature .item i {
  font-size: 20px;
  color: #808080;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.block-email {
  font-size: 14px;
  color: #808080;
  display: inline-block;
  background: #f2f2f2;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  line-height: 30px;
  padding: 0 14px;
}

.status--process {
  color: #00ad5f;
}

.status--denied {
  color: #fa4251;
}

.table-data3 thead {
  background: #333;
}

.table-data3 thead tr th {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  text-transform: capitalize;
  padding: 18px 40px;
  padding-right: 10px;
}

.table-data3 thead tr th:first-child {
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
}

.table-data3 thead tr th:last-child {
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
}

.table-data3 thead tr th:last-child {
  text-align: right;
  padding-right: 50px;
}

.table-data3 tbody tr td:last-child {
  text-align: right;
  padding-right: 50px;
}

.table-data3 tbody tr {
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

.table-data3 tbody tr:last-child td:first-child {
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-left-radius: 8px;
}

.table-data3 tbody tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  border-bottom-right-radius: 8px;
}

.table-data3 tbody td {
  border-bottom: 1px solid #f5f5f5;
  background: #4272d7;
  font-size: 14px;
  color: white;
  padding: 12px 40px;
  padding-right: 10px;
}

.table-data3 tbody td.process {
  color: #00ad5f;
}

.table-data3 tbody td.denied {
  color: #fa4251;
}

/* table end */

.charts-container {
  width: 100%;
  color: white;
  min-height: 500px;
  display: flex;
  background-color: #1c1e32;
  border-radius: 10px;
  padding: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.chart-1 {
  padding: 20px;
  width: 500px;
  color: white;
}

@media screen and (max-width: 600px) {
  .chart-1 {
    width: 100%;
  }
}

.chart-2 {
  padding: 20px;
  width: 600px;
  height: 650px;
  color: white;
}

@media screen and (max-width: 750px) {
  .chart-2 {
    width: 100%;
    margin-bottom: -75px;
  }
}

@media screen and (max-width: 550px) {
  .chart-2 {
    width: 100%;
    margin-bottom: -325px;
  }
}


.account-settings .user-profile {
  margin: 0 0 1rem 0;
  padding-bottom: 1rem;
  text-align: center;
}
.account-settings .user-profile .user-avatar {
  margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img {
  width: 175px;
  height: 175px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
  margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 400;
  color: #9fa8b9;
}
.account-settings .about {
  margin: 2rem 0 0 0;
  text-align: center;
}
.account-settings .about h5 {
  margin: 0 0 15px 0;
  color: #f77d0a;
}
.account-settings .about p {
  font-size: 0.825rem;
}
.form-control {
  border: 1px solid #cfd1d8;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 0.825rem;
  background: #ffffff;
  color: #2e323c;
}

.card {
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  margin-bottom: 1rem;
}

.acc-verified {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-box {
  display: flex;
  width: fit-content;
  justify-content: space-between;
}
.switch {
  padding-left: 10px;
  margin-bottom: -5px;
}

#cnic,
#phoneNumber {
  background-color: #232627;
  border: 1px solid #f77d0a;
  color: white;
}
#cnic:active {
  outline: none;
  border: none;
}

#file-lbl {
  display: block;
  width: 60vw;
  max-width: 200px;
  margin: 0 auto;
  background-color: #2b2e4a;
  border-radius: 2px;
  font-size: 1em;
  line-height: 2.5em;
  text-align: center;
  transition: 0.4s;
  cursor: pointer;
  margin: 30px 0px;
  border-radius: 30px;
}

#file-lbl:hover {
  background-color: #1c1e32;
}

#apply {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  cursor: pointer;
}

.container-1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  /* background-color: #1c1e32d3;
        background-image:linear-gradient(rgba(4, 9, 30, 0.902),rgba(4, 9, 30, 0.902)),  url("./img/bg-banner.jpg");
        background-attachment: fixed; */
  margin-bottom: 30px;
}

.container-1-1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  /* background-color: #1c1e32d3;
        background-image:linear-gradient(rgba(4, 9, 30, 0.902),rgba(4, 9, 30, 0.902)),  url("./img/bg-banner.jpg");
        background-attachment: fixed; */
  margin-bottom: 30px;
}


.container-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  /* background-color: #1c1e32d3;
        background-image:linear-gradient(rgba(4, 9, 30, 0.902),rgba(4, 9, 30, 0.902)),  url("./img/bg-banner.jpg");
        background-attachment: fixed; */
  margin-bottom: 30px;
}

@media screen and (max-width: 1200px) {
    .container-2{
      justify-content: center;
      flex-wrap: wrap;
    }
}

.container-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  max-width: 900px;
  /* background-color: #1c1e32d3;
        background-image:linear-gradient(rgba(4, 9, 30, 0.902),rgba(4, 9, 30, 0.902)),  url("./img/bg-banner.jpg");
        background-attachment: fixed; */
  }

.box {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 2px solid #f77d0a;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 450px) {
  .box{
   width: 105px;
   height: 105px; 
  }
}

.box-cnic {
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 5px;
  border: 2px solid #f77d0a;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.box:hover {
  border: 2px solid white;
}

.box input[type="file"] {
  display: none;
}

.box label {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #333;
}

.camera-icon {
  width: 30px;
  height: 30px;
  background-image: url("./img/camera.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2.5px);
  z-index: 1;
}

.popup-container-credit{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.popup-containerTwo {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2.5px);
  z-index: 1;
}

.popup {
  width: 50vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2e323c;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.popup-credit {
  width: 50vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1c1e32;
  padding: 60px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(15, 15, 15, 0.674);
  padding-top: 30px;
}

.popup-credit-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-section-heading{
  padding-bottom: 20px;
}


@media screen and (max-width: 700px) {
  .popup{
    width: 90vw;
  }
}

.popupPP {
  width: 40vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2e323c;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 650px) {
  .popupPP{
    width: 75vw;
  }
}

.logo-x {
  margin-top: -25px;
  font-size: 20px;
  color: white;
  background-color: #f77d0a;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.logoxTwo {
  margin-top: -12.5px;
  margin-left: 80%;
  font-size: 20px;
  color: white;
  background-color: #f77d0a;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.warning-container{
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.info-logo{
  width: 100%;
  height: 100%;
  filter: invert(100%);
}

.edit-logo{
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.sample-cnic{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 40px 0px;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.sample-1{
  width:200px;
  height: 150px;
  border: 2px solid #f77d0a;
}

.sample-1 img{
  width: 100%;
  height: 100%;
}

.top-bar {
  padding-top: 10px;
  display: flex;
  padding-left: 20px;
  align-items: center;
  justify-content: space-around;
  background-color: #2e323c8f;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  column-gap: 10px;
}

.option {
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 8px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  transition: all 0.2s ease-in-out;
  width: 200px;
  text-align: center;
  background-color: #333;
  padding-top: 15px;
}

.option:hover {
  background-color: #2b2e4a;
}

.active-1 {
  background-color: #f77d0a;
  color: #fff;
}

.tr-flex{
  display: flex;
  justify-content: space-around;
}

#unable:hover{
  cursor: not-allowed;
}

#unable:hover{
  cursor: not-allowed;
}

.pendingBtns {
  margin-right: -15px;
}


/* ================= CREDIT CARD START ======================= */
.credit-card {
  color: white;
  font-family: Arial;
  position: relative;
}

.credit-card .front,
.credit-card .back {
  background-color: hsl(200, 92%, 9%);
  border: 1px solid hsl(200, 80%, 10%);
  border-radius: .5rem;
  width: 450px;
  height: 250px;
  padding: .75rem 1rem;
  padding-bottom: 1.25rem;
}

.credit-card .front {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 1;
  overflow: hidden;
  position: relative;
}

.credit-card .card-data-row {
  display: flex;
  margin-bottom: auto;
}

.credit-card .card-logo {
  height: 40px;
  width: 50px;
  margin-left: 10px;
  flex-grow: 0;
}

.credit-card .brand-name {
  flex-grow: 1;
  font-size: 1.25rem;
  font-weight: bold;
}

.credit-card .form-group {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.credit-card fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.credit-card fieldset legend {
  visibility: hidden;
  height: 0;
  width: 0;
  position: absolute;
  top: -200vh;
}

.credit-card .horizontal-input-stack {
  display: flex;
  gap: .5rem;
}

.credit-card .cc-inputs input {
  width: 30ch;
  font-family: monospace;
}

.credit-card input,
.credit-card select {
  padding: .25em .5em;
  border: none;
  border-radius: .25em;
  appearance: none;
}

.credit-card label {
  font-size: .65rem;
  text-transform: uppercase;
}

.credit-card .input-row {
  display: flex;
  gap: 2rem;
}

.credit-card .name-group {
  flex-grow: 1;
}

.credit-card .front::before {
  content: "";
  position: absolute;
  height: 400px;
  width: 400px;
  border-radius: 100%;
  background-color: hsl(0, 0%, 100%, .15);
  top: -250px;
  left: -150px;
  z-index: -1;
}

.credit-card .front::after {
  content: "";
  position: absolute;
  height: 600px;
  width: 600px;
  border-radius: 100%;
  background-color: hsl(0, 0%, 100%, .075);
  bottom: -475px;
  left: -150px;
  z-index: -1;
}

.credit-card .back {
  position: absolute;
  top: 2rem;
  left: 3.25rem;
  width: 455px;
}

.credit-card .stripe {
  background-color: black;
  height: 35px;
  position: absolute;
  left: 0;
  right: 0;
  top: 1.5rem;
}

.credit-card .cvc-group {
  position: absolute;
  bottom: 3.25rem;
  right: .3rem;
}

.credit-card .cvc-input {
  width: 5ch;
  font-family: monospace;
}

#btn-credit{
  margin-top: 50px;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
}

#btn-card, #btn-cash{
  visibility: hidden;
  position: absolute;
}

#attempts{
  margin-top: 20px;
  display: block;
}

#details-box{
  width: 100%;
  display: block;
  padding: 10px;
  min-height: 200px;
  border: 1px solid #f77d0a;
  background-color: #232627cc;
  color: white;
  resize: none;
  border-radius: 5px;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.containerWallet {
  width: 100%;
  max-width: 750px;
  padding: 30px;
  background: #181a1b ;
  border-radius: 30px;
  color: var(--primary);
}

.pieWallet {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;

}
@keyframes pieWallet {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.inner-circleWallet {
  width: 80%;
  height: 80%;
  background: rgb(6, 6, 6);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-circleWallet p {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.flexWallet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.pro-bar-containerWallet {
  display: flex;
  gap: 10px;
  font-weight: 600;
  cursor: pointer;
}

.row-containerWallet,
.percentWallet {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rowWallet {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}

.barWallet {
  width: 200px;
  height: 10px;
  background: #d2ddf6;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.barWallet:hover {
  box-shadow: #d2ddf6 0 0 10px;
}
.barWallet:hover .progress {
  background: #24284a;
}

.progressWallet {
  height: 10px;
  position: absolute;
  right: 0;
}

.p1Wallet {
  width: 37.5%;
  background: #6792ff;
  animation: p1 1s;
}
@keyframes p1Wallet {
  0% {
    width: 0;
  }
  100% {
    width: 37.5%;
  }
}
.p2Wallet {
  width: 33.6%;
  background: #4473ea;
  animation: p2 1s;
}
@keyframes p2Wallet {
  0% {
    width: 0;
  }
  100% {
    width: 33.6%;
  }
}
.p3Wallet {
  width: 11%;
  background: #1a52e1;
  animation: p3 1s;
}
@keyframes p3Wallet {
  0% {
    width: 0;
  }
  100% {
    width: 11%;
  }
}
.p4Wallet {
  width: 6%;
  background: #96b3ff;
  animation: p4 1s;
}
@keyframes p4Wallet {
  0% {
    width: 0;
  }
  100% {
    width: 6%;
  }
}

.pagi-cons{
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
  padding: 5px;
}

.pagi-cons span{
  font-size: 14px;
  font-weight: 200;
}

.pagi-cons img:hover{
  cursor: pointer;
}

